#container {
  background: #fff;
  padding: 1rem;
  height: 100%;
  box-shadow: 1px 1px 3px 1px rgb(176, 176, 182);
  position: sticky;
  top: 0;
  @apply font-semibold;
}

#regis {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2rem;
  width: fit-content;
  border-radius: 0.5rem;
  background-color: #4682b4;
  color: #fff;
}

#faces {
  height: 145px;
  width: 217px;
  border-radius: 1rem;
}